.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/hero.webp") no-repeat center center;
  background-size: cover;
  color: white;
  padding: 2rem;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: clamp(1rem, 5vw, 3rem);
  margin-bottom: 1rem;
}

p.image-credit {
  font-size: 0.8rem;
}
