{% extends 'base.html' %}

{% load static %}
{% block link %}
  <link rel="stylesheet" href="{% static '/css/hero.css' %}" />
{% endblock %}

{% block title %}
  Darf Vermieter das? | KI-gestützte Mietrechtsanalyse
{% endblock %}

{% block content %}
  <section class="hero">
    <div class="hero-content">
      <h1>Mieterrechte einfach verstehen.</h1>
      <p>KI-gestützte Analyse Ihrer Mietverträge.</p>

      {% include 'file_upload.html' %}
    </div>
  </section>
  <p class="image-credit">Bild von Kaboompics.com</p>
{% endblock %}

