<footer>
    <nav>
        <ul class="nav-container">
            <li>
                <ul class="left-nav">
                    <li>
                        Josef Müller
                    </li>
                </ul>
            </li>

            <li>
                <ul class="right-nav">
                    <li>
                        <a href="https://github.com/am9zZWY/darf-vermieter-das" target="_blank" rel="noopener noreferrer">
                            GitHub
                        </a>
                    </li>
                    <li>
                        Lg <3 aus Tübingen
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</footer>
