<nav>
    <ul class="nav-container">
        <li>
            <ul class="left-nav">
                <li>
                    <a href="/">
                        Startseite
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <ul class="right-nav">
                <li>
                    <div class="button highlight active">
                        <a
                                class="no-highlight"
                                href="/accounts/login"
                        >
                            Anmelden
                        </a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</nav>