<nav>
    <ul class="nav-container">
        <li>
            <ul class="left-nav">
                <li>
                    <a href="/">
                        Startseite
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <ul class="right-nav">
                <li>
                    <div class="button highlight active">
                        {% if user.is_authenticated %}
                            <a href="{% url 'home' %}">
                                Dashboard
                            </a>
                        {% else %}
                            <a href="{% url 'login' %}">
                                Anmelden
                            </a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</nav>
