<nav>
    <ul class="nav-container">
        <li>
            <ul class="left-nav">
                <li>
                    <a href="/">
                        Startseite
                    </a>
                </li>
                <li>
                    <a href="{% url 'pricing' %}">
                        Preise
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <ul class="right-nav">
                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url 'home' %}" class="button highlight active">
                            Dashboard
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}" class="button highlight active">
                            Anmelden
                        </a>
                    {% endif %}
                </li>
            </ul>
        </li>
    </ul>
</nav>
