<!-- Disclaimer -->
<section id="disclaimer">
    <div class="d-flex flex-wrap gap-3 mb-4 disclaimer">
        <div class="d-flex align-items-center">
            <i class="bi bi-exclamation-triangle-fill me-3" style="color:var(--warning)"></i>
            <p class="mb-0 small">Diese Plattform bietet <span class="fw-bold">keine Rechtsberatung</span> im Sinne des
                RDG. Unsere Technologie
                extrahiert und strukturiert lediglich Textinformationen aus Dokumenten durch KI-gestützte
                Mustererkennung. Für rechtliche Beurteilungen, Empfehlungen und individuelle Beratung wenden Sie sich
                bitte an einen qualifizierten Rechtsanwalt.</p>
        </div>
    </div>
</section>
